- form_for @idea do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title, :class => 'required'
  %p
    = f.label :description
    %br
    = f.text_field :description, :class => 'required'
  %p
    = f.submit "Submit"
