#welcome
  #join
    #sign_up_area
      %h2 Sign up
      - semantic_form_for @user, :html => {:class => 'validate'} do |user|
        - user.inputs do
          = user.input :username
          = user.input :email
          = user.input :password
          = user.input :password_confirmation, :equalto => "#user_password"
        = user.submit
    #login_area
      %h2 Login
      - semantic_form_for @user_session do |user_session|
        - user_session.inputs do
          = user_session.input :username
          = user_session.input :password
        = user_session.submit
