#welcome
  #show
    = render :partial => 'create_ideas'
    = render :partial => 'search_ideas'
    = render :partial => 'what_is_this'
    = render :partial => 'recommendations'
    = render :partial => 'search_random'
  